html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.loading {
    width: 60%;
    border: 0.1rem solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    text-align: center;
    border-radius: 0.5rem;
}